<app-titlebar></app-titlebar>
<div class="catalogue-wrapper">
    <ul class="list-item-wrapper">
        <li *ngFor="let pokemon of pokemons; index as i" class="list-item">
            <div class="item-backdrop" (click)="handleItemClick(pokemon)"><img
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.url.slice(34, -1)}}.png">
                <span class="item-name">{{ pokemon.name[0].toUpperCase() }}{{pokemon.name.slice(1)}}</span>
            </div>
        </li>
    </ul>
</div>
