.catalogue-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trainer {
    color: #EAFBEC;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
    background-color: #5bada8;
    padding: 1em;
    border: 1px solid #EAFBEC;
    border-radius: 5px;
    padding-bottom: .5em;
    padding-top: .5em;
}

.collection {
    color: #EAFBEC;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    padding-bottom: .2em;
}

.list-item-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2.2em;
    margin-right: 2em;
    width: 100%;
}

.list-item {
    width: 100%;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

.item-backdrop {
    width: 100%;
    background-color: #BFFFFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 4px #04522f);
    border: 2px solid #EAFBEC;
    cursor: pointer;
    transition: 0.5s;
}

.item-backdrop:hover{
    width: 103%;
    background-color: #d9fcf9;
    transition: 0.3s;
    border-radius: 30px;
    font-size: 1.3em;
}

.list-item img {
    padding: 2rem;
    width: 200px;
    max-width: 200px;
    filter: drop-shadow(10px 10px 4px #5bada8);
    
}

.item-name {
    margin-bottom: 2em;
}