/* font-family: 'Lato', sans-serif;
 */

.header-main {
  background-color: #0e4ba1;
  color: #eafbec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}

.logo-main {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 1.8em;
  margin-left: 1em;
}

.logo-main h2 {
  padding-top: 0.4em;
  padding-left: 0.3em;
}

.logo-main img {
  width: auto;
  padding-right: 0.6em;
  height: auto;
  padding: 0.6em;
}

.contributors {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin-right: 1em;
  justify-content: center;
  font-style: italic;
}

.contributors a {
  text-decoration: none;
  color: #eafbec;
}

.contributors a:hover {
  color: #ffcb05;
}
