.backdrop {
    background-color: #4E8570;
    display: flex;
    justify-content: space-between;
    color: #EAFBEC;
    height: 4em
}

.link-wrapper {
    margin-left: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-wrapper span {
    font-size: 2em;
    margin-left: 3em;
    text-transform: uppercase;
    cursor: pointer;
}

.link-wrapper span:hover {
    color:#FFCB05
}

.logout-button {
    font-size: 1em;
    background-color: #D867AB;
    border-radius: 10px;
    width: 200px;
    height: 2em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:'Lato', sans-serif;
    color: #EAFBEC;
    font-weight: bold;
    margin-top: .4em;
    border: none;
    margin-right: 2em;
    margin-bottom: .8em;
}

.logout-button:hover {
    background-color: #a04f7f;
    cursor: pointer;
}

.active {
    font-style: italic;
    color:#FFCB05
}